$background: #f0f1f2;
$main: #2b3478;
$main-hov: #2b3478d9;
$main-act: #2b347882;
$secondary: #222963;
$secondary-hov: #222863d6;
$secondary-act: #22286380;
$display: #151b45;
$grid-gap: #545a8e;
$highlight: #d4ff00;
$dark: #151515;

* {
	color: #e0e0e0;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

::selection {
	background-color: $highlight;
}

footer {
	padding: 25px;
	width: 50%;
	display: flex;
	justify-content: center;
}

button:hover {
	cursor: pointer;
}
footer > span {
	color: $dark;
	font-size: 1em;
	font-family: 'Manrope', sans-serif;

}
#link {
	color: $dark;
	font-weight: 400;
}

body {
	background-color: $background;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
}

h1 {
	color: $dark;
	// text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.358);
	font-weight: 500;
	margin: 5px 0px;
	font-family: 'Manrope', sans-serif;
}

#descriptor {
	color: $dark;
	font-size: 1em;
	font-family: 'Manrope', sans-serif;
	margin: 5px 0px 25px 0px;
}

#calculator {
	border-radius: 7px;
	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: 110px repeat(4, 80px);
	grid-template-areas:
		"a a a b"
		"c d e f"
		"g h i j"
		"k l m n"
		"o p q r";
	gap: 1px;
	background-color: $grid-gap;
	// box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.38);
}

.display-container {
	background-color: $display;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "b" "a" "a";
	padding: 10px 0px;

	&__result {
		padding: 0px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		grid-area: a;

		span {
			font-size: 3em;
			display: flex;
			font-weight: 200;
			text-align: right;
		}
	}

	&__calculation {
		padding: 0px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		grid-area: b;

		span {
			font-size: 0.8em;
			text-align: right;
			position: absolute;
		}
	}
}

.btn {
	border: none;
	font-size: 1.25em;
}

.num-btn,
#decimalBtn {
	background-color: $main;
}
.num-btn:hover,
#decimalBtn:hover {
	background-color: $main-hov;
	transition: background-color 15ms linear;
}
.num-btn:active,
#decimalBtn:active {
	background-color: $main-act;
	transition: background-color 7.5ms linear;
}

#clearBtn {
	background-color: $secondary;
}

#clearBtn:hover {
	background-color: $secondary-hov;
	transition: background-color 15ms linear;
}

#clearBtn:active {
	background-color: $secondary-act;
	transition: background-color 7.5ms linear;
}

.btn-op {
	background-color: $secondary;
}

.btn-op:hover {
	background-color: $secondary-hov;
	transition: background-color 15ms linear;
}
.btn-op:active {
	background-color: $secondary-act;
	transition: background-color 7.5ms linear;
}

#display {
	grid-area: a;
	border-top-left-radius: 7px;
}

#clearBtn {
	border: none;
	font-size: 1.25em;
	grid-area: b;
	color: #ff807b;
	font-weight: 400;
	border-top-right-radius: 7px;
}

#sevenBtn {
	grid-area: c;
}

#eightBtn {
	grid-area: d;
}

#nineBtn {
	grid-area: e;
}

#divideBtn {
	grid-area: f;
}

#fourBtn {
	grid-area: g;
}

#fiveBtn {
	grid-area: h;
}

#sixBtn {
	grid-area: i;
}

#multiplyBtn {
	grid-area: j;
}

#oneBtn {
	grid-area: k;
}

#twoBtn {
	grid-area: l;
}

#threeBtn {
	grid-area: m;
}

#minusBtn {
	grid-area: n;
}

#decimalBtn {
	grid-area: o;
	border-bottom-left-radius: 7px;
}

#zeroBtn {
	grid-area: p;
}

#equalsBtn {
	grid-area: q;
	background-color: $main;
}
#equalsBtn:hover {
	background-color: $main-hov;
	transition: background-color 15ms linear;
}
#equalsBtn:active {
	background-color: $main-act;
	transition: background-color 15ms linear;
}

#plusBtn {
	grid-area: r;
	border-bottom-right-radius: 7px;
}
